@import url(https://fonts.googleapis.com/css?family=Poppins);
body {
  font-family: "Poppins", sans-serif;
  background-image: url('wALKING.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  
}
/* .light-blue-gradient {
  background: linear-gradient(120deg, #5089e4 0%, #c2e9fb 100%);
} */
